.image-profile-1 {
  height: 100px;
  margin-bottom: 50px;
  opacity: 0.6;

}

.image-profile-2 {
  height: 90px;
  margin-bottom: 50px;
  margin-top: 7px;
  margin-left: 80px;
  opacity: 0.2;

}

.image-profile-3 {
  height: 100px;
  margin-bottom: 50px;
  margin-left: 30px;
  opacity: 0.2;

}

.image-profile-4 {
  height: 90px;
  margin-bottom: 50px;
  margin-top: 7px;
  margin-left: 80px;
  opacity: 0.6;

}


.profile_index {

}

.box_index {
  border-bottom: 1px solid, black;
}

.avatar img {
  width: 56px;
  border-radius: 50%;
}
