.image-profile-1 {
  height: 100px;
  margin-bottom: 50px;
  opacity: 0.6;

}

.image-profile-2 {
  height: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  opacity: 0.2;

}

.image-profile-3 {
  height: 100px;
  margin-bottom: 50px;
  opacity: 0.2;

}

.image-profile-4 {
  height: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  opacity: 0.6;

}


.profile_index {

}

.box_index {
  border-bottom: 1px solid, black;
}
