
.button-profile {

  border: 1px solid grey;
  color: black;
  margin-left: 120px;
  margin-bottom: 30px;
  background: white !important;
  width: 90px;
      padding: 20px;
      border-radius: 5px;
      opacity: .8;

}

.img-sign-up {
height: 265px;
    width: auto;
    border-radius: 0px 30px 0px 0px;
    position: relative;
    top: -65px;
    right: -168px;
    -webkit-clip-path: polygon(111% 0%, 0% 0%, 101% 101%);
    clip-path: polygon(111% 0%, 0% 0%, 101% 101%);
}

.col-form-label {
  display: none;
}

.form-control-label {
  display: none;
  color: white;
}

.text-muted {
  display: none;
}

input {
    background: transparent !important;
  }

.form-control:focus, input:focus, textarea:focus, select:focus{
  color: white !important;
  border-color: transparent !important;
  box-shadow: none;
}

.force-select-all {
  user-select: all;
}

.welcome-message {
  font: white;
}

.user_photo_cache {
  border-color: transparent;
}
#last {
  border-color: transparent;
}



.form-container a {
  color: white !important;
  margin-left: 200px;
  font-size: 18px;

}

.holder input::placeholder {
  font-size: 20px !important;
  opacity: 0.3;
  padding-bottom: 3px !important;

}

.sign-up-button {
  color: #c8855d !important;
border: none !important;
font-size: 34px;
letter-spacing: 2px;
font-family: 'Prestage Regular' !important;
text-align: center;

}


.square-line-sign-up {
  border-left: 4px solid #c8855d;
    border-bottom: 4px solid #c8855d;
    width: 144px;
    position: relative;
    top: -241px;
    right: -4px;
    height: 112px;
}

.text-sign-up {
      position: absolute;
    padding-left: 33px;
    margin-top: 36px;
}

.text-body-sign-up {
    position: relative;
    top: -355px;
    right: 50px;
    font-family: 'Prestage Regular';
    color: white !important;
    text-align: justify;
    padding-left: 80px;
    padding-bottom: 56px;
}
