
<div class="container">
  <h2>Welcome! I am Alfred.</h2>
  <h2>Only 2 steps to go.</h2>

  <div class="d-flex justify-content-start icons_profile">
  <a ><%= image_tag 'Infos.png', :class => "image-profile-1" %></a>
  <a ><%= image_tag 'Hobbies.png', :class => "image-profile-2" %></a>
  </div>

  <div class="container form-container mb-4">
        <%= render 'sign_up_form'%>
  </div>

</div>

