
<div class="black">
  <div class="squares">
    <div class="box-preference-progress-2">

    </div>
    <div class="box-preference-progress-1 ml-3">
  </div>
</div>

  <div class="slider">
    <div id="slider">
      <div class="card-category-preferences" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))" >
          <header class="slide-overlay">
            <div class="">
              <div class="text-sign-up">
                <p id="place-name">Welcome, my friend.</p>
                  <p id="alfred">Your Travel Butler, Alfred.</p>

              </div>
              <div class="image-container">
                <img src="<%= image_path 'Alfred.png' %>" alt="pic" class="img-sign-up">
              </div>
              </div>
              <!-- <div class="line-preferences">
              </div> -->
              <div class="square-line-sign-up">
              </div>

          </header>
          <main>

             <div class="square-line-body-preferences">
            </div>

              <div class="text-body-sign-up" id="place-name-preferences">
                <p>Information</p>



  <div class="container form-container mb-4">
        <%= render 'sign_up_form'%>
  </div>



          </main>
      </div>
    </div>
  </div>
</div>
