body {


}


input::placeholder {
  color: white !important;
}

.form-control {
  color: white;
  background: transparent !important;
}

.btn {
  color: white !important;
}

.btn-primary {
  background-color: rgb(22, 127, 251) !important;
  color: white !important;
  border: 1px solid rgb(22, 127, 251);
}

.box_pages {
  margin: 16px;
  padding: 8px;
}
