// Specific CSS for your home-page

body {

}

// .background-image {
//   color:white;
//   background-image: url('Background.jpg');
//   background-repeat: no-repeat;
//   background-position: -610px -100px;
// }

.box_page {
  border-bottom: 3px solid white;
  margin-top: 500px

}

.text {
 position: relative;
}


