// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.box_page {
  border-bottom: 3px solid white;

}

.home-page-layout {
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.0)), url('https://res.cloudinary.com/dodsrfkhr/image/upload/v1568900392/Background-cropped2_op179r.jpg');
  background-repeat: no-repeat;
  background-position: center;
background-size:cover;

  height: 100vh;
  width: 100vw;
  filter: grayscale(100%);
  color: white;

  p {
    font-size: 20px;
  }

}

.dropdown-menu a {
  color: black !important;
}

.city {
  margin-top: 300px;
}


.button-registration {
border-top: 2px solid grey;
    border-right: grey;
    width: 215px;
    padding: 20px;
    border-radius: 5px;
    opacity: 1;
    flex: 0 0 30%;
    text-align: center;
    position: relative;
    top: 214px;
    left: 88px;
    background-color: black;


}


.ap-input-icon svg {
  fill: white;
  margin-top: 10px;
  margin-right: 10px;
}




.logo_wrapper {
  text-align:center;
  background:transparent !important;
  color:white;
  font-family:'Roboto';
  font-weight:600;
  font-size:22px;
  padding-top:10vh;
  height:200px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
.logo_main {
  font-size: 32px;
  font-family: 'Anurati-Regular';
  letter-spacing: 2px;
}

.sublogo {
  font-size: 16px;
}

.logo_anim {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.logo_anim:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 8s;
}

.logo_anim:last-of-type {
  width:0px;
  animation: reveal 9s;
}

.logo_anim:last-of-type span {
  margin-left:-300px;
  animation: slidein 10s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:125px;}
    80% {opacity:1;}
    100% {opacity:1;width:125px;}
}

.text-homepage {
  position: relative;
    left: -2px;
    padding-left: 27px;
    margin-top: 59px;
}

.lower-box {
  position:relative;
  top:63px;
}

#alfred-homepage {
    font-size: 13px;
    letter-spacing: 1px;
    color: yellow !important;
    font-family: "Titillium Web", "light 300" !important;
}
