.form-control {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  margin-bottom: -5px;
}

#address {
  border: none;
}

.ap-dataset-places {
  color: black !important;
}
