

body {
  background-image: url('bw-city.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

.img {
    height: 257px;
    width: auto;
    border-radius: 0px 30px 0px 0px;
    position: relative;
    top: -45px;
    right: -168px;
        clip-path: polygon(142% 0%, 0% 0%, 114% 101%);

}

.line {
   border-bottom: 4px solid #bbb607;
    opacity: 0.8;
    width: 172px;
    transform: rotate(45deg);
    position: relative;
    top: -259px;
       left: 124px;
}

.text {
position: absolute;
    padding-left: 36px;
    margin-top: 34px;
}

.square-line {
   border-left: 4px solid #b3b50e;
    border-bottom: 4px solid #a9ac16;
    width: 171px;
    position: relative;
    top: -221px;
    right: 0;
    height: 170px;
}

.square-line-body {
    border-right: 4px solid #b3b50e;
    border-bottom: 4px solid #a9ac16;
    width: 161px;
    position: relative;
    top: -187px;
    right: -209px;
    height: 167px;
    text-align: right;
}

.square-line-schedule {
border-left: 4px solid #b3b50e;
    border-bottom: 4px solid #a9ac16;
    width: 161px;
    position: relative;
    /* top: 2px; */
    bottom: 337px;
    right: 0;
    height: 63px;
    text-align: right;
}

.text-body {
    position: relative;
    top: -368px;
    right: 43px;
    min-height: 200px;
    font-family: 'Prestage Regular';
    color: white !important;
    text-align: justify;
    padding-left: 80px;
    padding-bottom: 9px;
}

#description {
  text-align: right;
}

.card-category {
  background-color: rgba(0,0,0,0.4) !important;
  padding: 20px;
  height: 260px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100vw;
  border-radius: 30px 30px 0px 0px;
transition: height .4s linear,
              line-height .2s linear,
              z-index .2s linear;
overflow: hidden;
}

header {
  // height: 70%;
  margin-top: 25px;
  p {

  font-family: 'Prestage Regular';
  }





  main {
    opacity: 0;
    transition: opacity 0.5s linear;
    p {

  }
  }



}

.expanded {
  // right: 10px;
  // bottom: 10px;
  height: 597px;
  // left: 10px;
  // line-height: 600px;
  z-index: 9999;

  main {
    opacity: 1;
  }
}

#slide {
  position: relative;
  margin: 0 auto;
  // margin-top: 20px;

  // width: 960px;
  // height: 420px;
  border: 1px solid Black;
}

#place-name-review {
    letter-spacing: 2px;
    text-align: right;
    margin-bottom: 0 !important;
}

#location {
    font-size: 16px;
    letter-spacing: 1px;
    color: yellow;
    font-style: italic;
    font-family: "Titillium Web", "light 300" !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 286px;
}

.size {
  font-size: 15px;
  color: yellow
}

#all_reviews {
  // font-family: 'Titillium Web';
      font-size: 23px;
    letter-spacing: 1px;
}

#description2 {
   font-size: 13px;
    letter-spacing: 1px;
    color: yellow;
    font-family: "Titillium Web", "light 300" !important;
    text-align: right;
}

.line-schedule {
   border-bottom: 4px solid #a9ac16;
    width: 100px;
    position: relative;
    /* top: 2px; */
        bottom: 360px;
    right: 0;
    height: 63px;
    text-align: right;
}

#footer {
  font-family: 'Prestage Regular' !important;
    color: white !important;
    font-size: 24px !important;
    margin-top: 17px;
    text-align: center;
}

.banner {
  height: calc(100vh - 56px);
}
.slider2 {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(100% - 40px);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  .slide-cat-item {

    min-width: 100vw;
    scroll-snap-align: start;
    position: relative;
    height: 600px;
    transform: translateY(301px);
    transition: transform 0.7s ease-in;
    main {
    transition: opacity 0.8s linear;
      opacity: 0;

    }
  }
  .slide-cat-item.new-expanded {
    transform: translateY(29px);

    main {
      opacity: 1;
    }
  }
}

.text-home {
    position: relative;
    top: 97px;
}

// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }
// .frame-slider {
//     overflow-y: hidden;
// }
// .slider {
//     font-family: sans-serif;
//     scroll-snap-type: x mandatory;
//     display: flex;
//     -webkit-overflow-scrolling: touch;
//     overflow-x: scroll;
//     position: fixed;
//     bottom: 0;
//     width: 100vw;
// }
// section {
//     border-right: 1px solid white;
//     padding: 1rem;
//     min-width: 100vw;
//     // height: 100vh;
//     scroll-snap-align: start;
//     text-align: center;
//     position: relative;
// }

#alfred-2 {
 font-size: 13px;
    letter-spacing: 1px;
    color: #c8855d;
    font-family: "Titillium Web", "light 300" !important;
    text-align: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 6rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #0E0000;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }



p#place-name-new {
    font-size: 33px;
        margin-bottom: 0px;
}

#place-name-review {
    letter-spacing: 2px;
    text-align: right;
    margin-bottom: 0 !important;
    font-size: 33px !important;
}

p#category-card {
    font-size: 21px;
    color: rgba(255,255,255,0.7);
    letter-spacing: 2px;
    margin-bottom: 0;
}

#location-review {
    font-size: 16px;
    letter-spacing: 1px;
    color: yellow;
    font-style: italic;
    font-family: "Titillium Web", "light 300" !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 286px;
    margin-top: 6px;
}
.star-rating.mb-2 {
    position: absolute;
    top: 63px;
}



.text {
    position: absolute;
    padding-left: 36px;
    margin-top: 46px;
}

.location-card {
  margin-top: 28px;
}

#intro-index-places {
       font-family: 'Titillium Web';
    color: yellow !important;
    text-align: right;
    padding-left: 24px;
    letter-spacing: 2px;
    font-size: 16px !important;
    margin-top: 38px;
    margin-right: 18px;
    font-style: italic;
}

#intro-index-places-alfred {
font-family: 'Titillium Web';
    color: yellow !important;
    text-align: right;
    /* padding-left: 24px; */
    /* padding-bottom: 56px; */
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 16px !important;
}

.places-intro {
 transition:  2s ease-out;
}

.nav-line {
  border-bottom: 1px solid white;

}
