.styling_lines_box_post {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: transparent;
    padding: 37px 24px 6px 3px;
    border-bottom: 4px solid #03BDFF;
    /* border-top: 2px solid #03BDFF; */
    width: 120px;
    height: 106%;
    position: absolute;
    top: -5px;
    right: 141px;
}


.notification-post {
    display: flex;
    align-items: center;
    margin: 8px;
    background: white;
    padding: 5px 4px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    opacity: 0.9;
    margin-top: 26px;
}

.button-reply {
  color: #167FFB !important;
}

.notification-thread {
    margin: 0;
    line-height: 1.4;
    margin-top: 11px;
    margin-right: 5px;
    margin-left: 5px;
        display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    padding: 5px 4px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    opacity: 0.9;
}

