<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%# "black-background" if current_page?(new_user_preference_path(current_user) && bookmarks_path) %>">
<p class="logo">ALFRED</p>


<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="nav-item">
          <%= link_to "[.]", "bookmarks_path", class: "nav-link" %>
        </div>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
