
<div class="container">

<%= simple_form_for(@user) do |f| %>
<div class="box_page"><%= f.input :location, input_html: { id: "address"}, label: false, placeholder: "Enter your location" %></div>
<%= hidden_field_tag :from, "landing" %>

<%# f.submit "Save", class: "button"  %>

<% end %>










