
<div class="background-image">
  <div class="container">
  <div class="text">
    <h1>Hi friend,</h1>
    <p>I am Alfred, your personal Assistant.</p>
    <p>What are you looking for?</p>
  </div>


     <%= render 'address_form.erb'%>



  </div>
</div>



