
<div class="background-image">
  <div class="container">
  <div class="text">
    <h1>Hi friend,</h1>
    <p>I am Alfred, your personal Assistant.</p>
    <p>What are you looking for?</p>
  </div>

    <div class="box_page">
      <p></p>
    </div>
<p><%= link_to 'Index', places_path %></p>

  </div>
</div>
