<h1>Your Profile</h1>

<p> ---- DETAILS </p>
<p><%= current_user.name %></p>
<p><%= current_user.nickname %></p>
<p><%= current_user.location %></p>
<p>change password </p>

<p> ---- SAVED CITIES </p>

<p> ---- PREFERENCES </p>
<% @preferences.each do | preference | %>
<%=  preference.category.name %>
<%  end %>
