
<div class="container card-category-review">
  <div class="image-container">
    <img src="<%= image_path 'post.png' %>" alt="pic" class="img-forum-new">
    </div>
    <p id="review-title">Write a post</p>

    <div class="line-new-post">
  </div>
  <div>

<div class="square-line-post">

</div>

<%= render 'form', post: @post %>

</div>
