.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
}

.avatar {
  border-color: 2px solid white;
}

.logo {
  height: 27px;
  padding-left: 2px;
}

.nav-schedule {
    height: 24px;
    position: relative;
    top: 1px;
    opacity: 0.8;
    margin: 0 0 0 14px;
}

.p-3 {
    padding: 1rem !important;

}
