.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
}

.avatar {
  border-color: 2px solid white;
}

.logo {
  font-family: Saira Stencil One;
  color:white;
}

.nav-schedule {
  height: 24px;
  position: relative;
  top: -7px;
}
