.notification-forum {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification-forum .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-forum {
  margin: 0;
  line-height: 1.4;
}

.notification-forum small {
  color: #999999;
  font-weight: bold;
}
.notification-forum .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification-forum:hover .notification-actions {
  opacity: 1;
}

.notification-forum .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification-forum .notification-forum-actions a:hover {
  color: #555555;
}

.notification-forum i {
  color: black !important;
}