<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for([@place, @review]) do |f| %>
        <% f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.button :submit, "Submit", class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
