

<div class=" banner">
    <div class="box-scroll">
      <div class="categories-scroll">
        <% @categories.each do |category| %>
        <div class=<% if current_page?("/places?category=#{category.name}") %>"active-tab"<% end %>>
          <%= link_to category.name, places_path(category: category.name), class: "inactive-tab" %>
        </div>
        <% end %>

      </div>
</div>




 <div class="box-scroll-places">
  <div class="categories-scroll">
      <div id="slider">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0))" >

          <header class="slide-overlay">
              <div class="text">
                <p id="place-name">Yoga Tel Aviv</p>
                <div class="d-flex justify-content-start align-items-center ">
                  <p class="mr-2 size"><i class="fa fa-map-pin"></i></p>
                  <p id="location">Ben Yehuda, Tel Aviv</p>
                </div>
              </div>

              <div class="image-container">
                <img src="<%= image_path 'sailing2.png' %>" alt="pic" class="img">
              </div>
              <div class="line">
              </div>
              <div class="square-line">
              </div>
          </header>

          <main>
             <div class="square-line-body">
             </div>
             <div class="text-body" id="description">
              <p id="place-name">Description</p>
              <p id="description2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dignissimos doloremque quod commodi accusamus, totam doloribus veniam, minus consectetur placeat assumenda.</p>
             </div>

             <div class="d-flex justify-content-between">
              <div class="line-schedule">
                <p id="footer">schedule</p>
              </div>
              <div class="line-schedule">
                <p id="footer">forum</p>
              </div>
              <div class="line-schedule">
                <p id="footer">map</p>
              </div>
            </div>
          </main>
        </div>
     </div>
  </div>


